<mat-tab-group (selectedTabChange)="updateList($event)">
  <mat-tab label="Personagens">
    <app-table-character [list]="atualDataList$"></app-table-character>
  </mat-tab>
  <mat-tab label="Planetas">
    <app-table-planet [list]="atualDataList$"></app-table-planet>
  </mat-tab>
  <mat-tab label="Series">
    <app-table-serie [list]="atualDataList$"></app-table-serie>
  </mat-tab>
  <mat-tab label="Species">
    <app-table-specie [list]="atualDataList$"></app-table-specie>
  </mat-tab>
</mat-tab-group>