<mat-table [dataSource]="list">
    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Preview </mat-header-cell>
      <mat-cell *matCellDef="let row"> <img [src]="row.image" class="img-preview"> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
     <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
     <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
   </ng-container>
   <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
  </ng-container>
 
   <!-- Header and Row Declarations -->
   <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
   <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
 </mat-table>